<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="group/add" method="POST" enctype="multipart/form-data">
            <input type="text" name="groupName">
            <input type="file" name="avatar">
            <input type="file" name="coverImage">
            <!--<img th:src="${Image}" style="aspect-ratio:1/1" th:alt="alt">-->
            <input type="submit" value="them" name="btn1" />
        </form>
        <form action="group/update" method="POST" enctype="multipart/form-data">
            <input type="text" name="groupName">
            <input type="file" name="avatar">
            <input type="file" name="coverImage">
            <input type="submit" value="sua" name="btn2" />
        </form>
        <form action="group/delete" method="POST">
            <input type="submit" value="xoa" name="btn3" />
        </form>
    </body>
</html>
